* {
    padding: 0px;
    margin: 0px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Helvetica, sans-serif;
}
#wrapper {
    width: 970px;
    height: 870px;
    background-color: #245075;
}
#header img {
    width: 380px;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
}
#right_head {
    display: inline-block;
    vertical-align: top;
    margin-left: 280px;
    margin-top: 5px;
}
#right_head p {
    margin-left: 85px;
    margin-bottom: 5px;
    width: 180px;
    color: white;
    font-size: 12px;
}
#right_head a:link {
    color: yellow;
}
#search {
    background-color: #444444;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #080808;
    width: 280px;
    height: 60px;
}
#search button {
    margin-top: 15px;
    margin-left: 10px;
    height: 30px;
    width: 40px;
    color: white;
    border-radius: 5px;
    border-style: 1px solid lightgray;
    background-color: #265279;
    font-size: 14px;
}
#search input {
    margin: 0px 0px 12px 35px;
    text-align: center;
    height: 30px;
    width: 174px;
    border-style: 5px inset black;
    font-size: 10px;
}
.navbar {
    margin: 10px 0px 10px 70px;
    height: 40px;
    width: 850px;
    background-color: #427CAE;
    padding-top: 10px;
    box-shadow: 5px 5px 5px #080808;
    border-radius: 10px;
}
.navbar li {
    display: inline;
    
}
.navbar a {
    height: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 45px;
    
}
.nav_right {
    margin: 20px 0px 0px 80px;
    width: 250px;
    text-align: center;
    list-style: none;
    display: inline-block;
    font-size: 18px;
}
.nav_right li {
    padding: 5px;
}
.nav_right li:before {
    content: ">>";
    color: yellow;
    font-size: 12px;
    padding-right: 5px;
}
.nav_right a {
    color: white;
}
.center_content {
    width: 550px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.center_content p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
.center_content ul {
    list-style: none;
    font-style: italic;
    margin-bottom: 10px;
}
.center_content li {
    padding: 5px;
    color: #ffcc00;
    font-size: 18px;
    font-weight:lighter;
}
.bottom_content {
    background-color: white;
    height: 220px;
    text-align: center;
    color: black;
    font-size: 14px;
    
}
.bottom_left, .bottom_right {
    width: 350px;
    margin: 20px 0px 0px 10px;
    display: inline-block;
    vertical-align: top;
    border-top: 5px solid #73A7D5;
}
.bottom_content ul {
    margin: 5px 0px 0px 30px;
    width: 80%;
}
.bottom_content h3 {
    padding: 5px 0px;
}
.bottom_content a {
    color: #73A7D5;
    text-decoration: none;
}
.footer {
    width: 80%;
    margin: auto;
}
.footer h3 {
    display: inline-block;
    margin-left: 60px;
    padding-top: 40px;
}
.footer a{
    color: #73A7D5;
    text-decoration: none;
    font-size: 16px;
}
.footer p {
    padding-top: 20px;
    color: #73A7D5;
    font-size: 10px;
    text-align: center;
}
